/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-de-link: #000000;            /* Color de los enlaces */
    --color-menu: #bebebe;             /* Color blanco */
    --gris-claro: #8b8b8b;               /* Gris claro */
    --gris-medio: #686868;               /* Gris medio */
    --gris-oscuro: #464646;              /* Gris oscuro */
    --gris-muy-oscuro: #232323;          /* Gris muy oscuro */
    --negro: #000000;  
    }

body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6;
    display: flex;
    box-sizing: border-box;
    line-height: 1.6;
    height: 100%;
    display: flex;
    margin-left: 17.3em;
    margin-top: 6rem;
    max-width: 100%;
    overflow-x: hidden;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-de-link);
}

/* ------------------------------ Sección Menú -------------------------------*/
.cabecera {
    overflow-x: hidden;
    padding: 2em 1.5em 0em 0em; 
    align-items: flex-start;
    padding: 1rem;
    background-color: var(--negro);
    box-shadow: 2px 0 5px rgb(219, 219, 219);
    position: fixed;
    width: 15%; /* Ancho fijo para la cabecera */
    height: 100%;
    max-width: 80vw;
    left: 0;
    top: 0;
    z-index: 1;  
}

.cabecera__logo {
    max-width: 200px;
    margin-bottom: 0rem;
    margin-left: 0.5rem;
}

.cabecera__titulo {
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 0rem;
    text-align: center;
    color: var(--color-menu);

}

.navegacion__lista {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
}

.navegacion__elemento {
    color: var(--color-menu);
    display: block;
    padding: 0.5rem;
    transition: background 0.3s ease;
    text-align: center;
    font-weight: bold;
}

.navegacion__elemento a {
    font-size: 1.2rem;
    color: var(--color-menu);
    text-decoration: none;
    display: block; /* Para que el área del enlace ocupe todo el espacio */
    padding: 0.75rem 1rem; /* Agranda el área de selección del botón */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efecto de transición */
    border-radius: 8px; /* Bordes redondeados para un estilo más agradable */
}

/* Efecto hover para los enlaces */
.navegacion__elemento a:hover {
    background-color: var(--gris-muy-oscuro);
    transform: scale(1.05); /* Amplía ligeramente el botón al hacer hover */
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion{
text-align: center;
}

.presentacion__foto{
width: 28%;

}

.redes__img{
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 24px;
    background-color: var(--gris-claro);
    text-decoration: none; 
    font-weight: bold; 
    text-align: center;
    transition: background-color 0.3s, transform 0.3s;
}

.redes__img:hover {
    transform: scale(1.05);
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 10rem;
    display: inline-flex;
}

.redes__icono{
    display: flex;
    width: 20px; 
    height: 20px;
    display: inline-block;
}



/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi {
    text-align: left;
    background-color: var(--color-menu);
    padding: 90px;
    margin: 0;
    max-width: 80vw;
    width: 100%;
}

/*------------------------------ Sección de Habilidades ------------------------------*/
.habilidades__titulo{
    padding: 90px;
    text-align: center;
}

.habilidades__lista{
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 90px;
}

.habilidades__icono{
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    filter: grayscale(100%);
}

.habilidades__elemento{
    background-color: var(--gris-claro);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 10px;
}

.habilidades__elemento p {
    margin: 0;
    font-size: 16px;
    color: var(--color-de-link);
    text-align: center;
}


/*------------------------------ Sección de Aficiones --------------------------------*/
.aficiones__titulo{
    padding: 50px;
    text-align: center;
}

.aficiones__lista{
    display: flex;
    width: auto;
    justify-content: space-around;
    padding: 50px;
}

.aficiones__icono{
    width: 60px;
    height: 60px;
}

.aficiones__elemento{
    background-color: var(--gris-claro);
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    margin: 0 10px;
}

.aficiones__elemento p{
    margin: 0;
    font-size: 16px;
    color: var(--color-de-link);
    text-align: center;
}

/*------------------------------ Sección de formacion --------------------------------*/
.formacion{
    background-color: var(--color-menu);
    height: 45rem;
    max-width: 100%; 
    margin: 0 auto; 
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
.formacion__titulo{
    padding: 50px;
    text-align: center;
}

.formacion__lista{
    display: flex;
    margin: auto;
    gap: 5rem; 
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
}

.formacion__elemento{
    flex: 1 1 300px;
    height: auto;
    max-width: 100%;
    margin: 0 auto;
    font-size: 16px;
    color: var(--color-de-link);
    text-align: center; 
    background-color: white;
    width: 25rem;
    height: 25rem;
}

.formacion__icono{
    margin: 10px;
    border-radius: 10px;
    max-width: 50%;
    height: auto;
    padding: 10px;
    filter: grayscale(100%);
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos__titulo{
    padding: 50px;
    text-align: center;
}

.proyectos__contenedor{
    padding: 50px;
    justify-content: center; 
    display: flex; 
    flex-direction: row;
    align-items: center;
    margin-bottom: 20px; 
}

.proyecto__icono{
    width: 800px; 
    height: auto; 
    margin-right: 20px; 
}
.proyecto__info {
    display: flex;
    flex-direction: column; 
}

.proyectos__nombre {
    margin-bottom: 5px; 
}

.proyectos__descripcion {
    margin-top: 5px;
    margin-bottom: 10px; 
}

.proyecto__botones{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
}

.proyecto__boton__repositorio, 
.proyecto__boton__demo {
    padding: 10px 20px;
    border-radius: 5px;
    border: 2px solid var(--gris-muy-oscuro);
    background-color: #fff; 
    color: var(--gris-claro);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Arial', sans-serif;
    font-weight: 500;
    margin-right: 10px;
    text-decoration: none; 
    display: inline-block; 
}

.proyecto__boton__demo {
    background-color:var(--gris-medio); 
    color: var(--color-de-fondo);
}

.proyecto__boton__repositorio:hover, 
.proyecto__boton__demo:hover {
    background-color: var(--gris-muy-oscuro);
    color: var(--color-de-fondo);
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto {
    background-color: var(--color-menu);
    padding: 50px 0;
}

.contacto__contenedor {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.contacto__imagen img {
    max-width: 300px; 
    height: auto; 
    border-radius: 8px;
    display: block; 
    margin: 0 auto; 
}

.contacto__formulario-contenedor {
    flex: 1;
    margin-left: 40px;
}


.contacto__titulo {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: var(--negro)
}

.contacto__subtitulo {
    color: var(--gris-medio);
    margin-bottom: 20px;
    font-size: 1rem;
}

.contacto__formulario {
    display: flex;
    flex-direction: column;
}

.contacto__grupo {
    position: relative;
    margin-bottom: 30px;
}

.contacto__campo {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid var(--gris-claro);
    background-color: transparent;
    color: var(--gris-muy-oscuro);
    transition: border-color 0.3s ease;
}

.contacto__campo:focus {
    outline: none;
    border-bottom-color: var(--negro);
}

.contacto__label {
    position: absolute;
    left: 0;
    top: 15px;
    font-size: 1rem;
    color: var(--gris-claro);
    pointer-events: none;
    transition: all 0.3s ease;
}

.contacto__campo:focus + .contacto__label,
.contacto__campo:user-invalid + .contacto__label,
.contacto__campo:valid + .contacto__label{
    top: -20px;
    font-size: 0.85rem;
    color: var(--gris-muy-oscuro);
}

.contacto__campo--textarea {
    resize: none;
    height: 100px;
}

.contacto__boton {
    padding: 12px;
    background-color: var(--gris-oscuro);
    color: var(--color-de-fondo);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.contacto__boton:hover {
    background-color: var(--gris-medio);
}

/* ------------------------------ Responsividad ---------------------------------------*/
/* Tablets y pantallas más grandes */
/* Para pantallas pequeñas (móviles en modo vertical) */
@media (max-width: 768px) {

    body {
        margin-left: 0; 
        margin-top: 2rem;
    }

    .cabecera {
    display: none;
    }

    .cabecera__titulo {
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    .navegacion__elemento a {
        font-size: 1rem;
        padding: 0.5rem;
    }

    .presentacion__foto {
        width: 16%;
    }

    .redes {
        flex-direction: column;
        gap: 1rem;
    }

    .redes__img {
        padding: 10px 20px;
        font-size: 1rem; 
    }

    .sobre-mi, .habilidades__titulo, .aficiones__titulo, .formacion__titulo, .contacto__titulo {
        padding: 50px;
        justify-content: center;
        align-items: center;
    }

    .sobre-mi{
        width: 100%;
        
    }
    .habilidades__lista, .aficiones__lista {
        padding: 30px;
        justify-content: center;
        align-items: center;
    }

    .habilidades__elemento, .aficiones__elemento {
        width: 100%;
        margin-bottom: 1rem;
    }


    .formacion{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .formacion__lista{
        display: flex;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .formacion__elemento{
        max-width: 100%;
        height: auto; 
        margin: 0 auto; 
    }


    .proyectos__contenedor {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    
    .proyecto__botones {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        padding-bottom: 5%;
    }

    .proyecto__icono {
        width: 100%; 
        height: auto;
    }

    .contacto__contenedor {
        flex-direction: column; 
        padding: 50px;
    }

    .contacto__formulario-contenedor {
        margin-left: 0;
        margin-top: 20px;
    }
}

/* Para pantallas medianas (tabletas y pequeñas laptops) */
@media (max-width: 1024px) {

    body{
        max-width: 100%;
        padding-left: 0%;
        margin: 0em;
    }
    .cabecera {
        display: none;
    }

    .cabecera__logo{
        width: 70%;
    }

    .presentacion{
        max-width: 100%;
    }
    .presentacion__foto {
        width: 30%;   
    }

    .redes {
        flex-direction: row;
        gap: 1rem;
    }

    .redes__img {
        padding: 10px 20px;
        font-size: 1rem; 
    }

    .sobre-mi{
        align-items: center;
        display: flex; 
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 85%;
    }
    .habilidades__lista, .aficiones__lista {
        flex-direction: column; 
        align-items: center; 
        align-content: center;
        width: auto;
        
    }

    .habilidades__elemento, .aficiones__elemento, .formacion__elemento {
        width: 100%;
        margin-bottom: 1rem;
    }

    .formacion{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .formacion__lista{
        display: flex;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .formacion__elemento{
        max-width: 100%;
        height: auto; 
        margin: 0 auto; 
    }

    .proyecto__icono {
        width: 60%; 
    }

    .contacto__contenedor {
        flex-direction: column; 
        align-items: center;
    }
}